[Unit]
Description=Ubuntu First Boot Script

[Service]
Type=simple
ExecStart=/usr/bin/first-boot
User=root
Group=root
ConditionFirstBoot=true

[Install]
WantedBy=multi-user.target
